
@{
    ViewData["Title"] = "Print";
}

<h1>Personal Details</h1>

<p>
    Name : @ViewBag.Name
</p>
<p>
    Email : @ViewBag.Email  
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    City : @ViewBag.City
</p>

